body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

form ul, form li {
    list-style-type: none;
    margin-bottom: 10px;

}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 35%;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    vertical-align: top;

}

input,
select,
textarea {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.agree {
    width: auto;
    vertical-align: sub;
}

.radiolabel {
    width: auto;
    margin-right: 10px;
    font-weight: normal;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #009578;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    opacity: 0.9;
}