body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; }

.container {
  border: none;
  border-radius: 8px;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

form ul, form li {
  list-style-type: none;
  margin-bottom: 10px; }

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px; }

label {
  display: inline-block;
  width: 35%;
  font-weight: bold;
  text-align: right;
  margin-right: 20px;
  vertical-align: top; }

input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box;
  padding: 5px; }

.reset-width, .agree, .radiolabel {
  width: auto; }

.agree {
  vertical-align: sub; }

.radiolabel {
  margin-right: 10px;
  font-weight: normal; }

button {
  border: none;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #009578;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px; }

button:hover {
  opacity: 0.9; }
